<h1 class="text-center my-3">Login</h1>
<form action="/login" method="post">
  <div class="row w-50 d-block m-auto g-3">
    <div class="col-12">
      <label class="form-label" for="email">email:</label>
      <input
        class="form-control"
        type="text"
        name="email"
        id="email"
        placeholder="Digite o seu email cadastrado"
      />
    </div>
    <div class="col-12">
      <label class="form-label" for="senha">Senha:</label>
      <input
        class="form-control"
        type="password"
        name="senha"
        id="senha"
        placeholder="Digite a sua senha"
      />
    </div>
    <div class="col-12">
      <a href="usuarios/Cadastrar"> Caso não tenha cadastro, clique aqui para se cadastrar.</a></br>
    </div>
    <div>
      <input class="btn btn-primary my-3" type="submit" value="Acessar" />
    </div>
  </div>
</form>